@import url("https://fonts.googleapis.com/css?family=Opensans|Oswald:300,400,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 1.6;
}

h1{
    text-align: center;
    font-family: "Oswald", sans;
    font-size: 4rem;
    font-weight: normal;
    line-height: 5.5rem;
    user-select: none;
}

h3 {
    font-size: 1.35rem;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    user-select: none;
}
.container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://i.redd.it/1m01yqoae5l51.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item {
    margin-top: 0;
    margin-left: 3%;
    padding: 0 30 0 30px;
    text-align: center;
}
.btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1rem;
    line-height: 1.25rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.25rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    outline: none;
}
.btn.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #666;
    border-radius: 30px;
    transition: all 0.25s ease;
    position: relative;
}
.btn.btn-primary:hover {
    color: #fff;
    background-color: #333;
    border-color:#666;
    transform: translate(-12px, -12px);
}
.btn.btn-primary:before {
    transform: translate(12px, 12px);
}

.btn.btn-primary::after {
    transform: translate(7px, 7px);
}

.btn.btn-primary::after, .btn.btn-primary:before { 
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25s ease;


}
@media screen and (max-width: 360px){

}

@media (min-width: 992px) { 
    .item {
        width: 80%;
    }
}

@media (min-width: 1200px) { 
    .item {
        width: 60%;
    }
}
p {
    user-select: none;
    color: #fff;
    font-size: large;
    
}
img {
    border-radius: 50%;
}